<div class="modal-body">
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" name="fecha" id="fecha" class="form-control" value="{{ fecha_actual }}" required>
    </div>
    <div class="mb-3">
        <label for="iddoc" class="form-label">IDDOC</label>
        <input type="number" name="iddoc" id="iddoc" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="destinatario" class="form-label">Destinatario</label>
        <input type="text" name="destinatario" id="destinatario" class="form-control" maxlength="100" required>
    </div>
    <div class="mb-3">
        <label for="materia" class="form-label">Materia</label>
        <textarea name="materia" id="materia" class="form-control" maxlength="5000" rows="4" required></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
</div>